<footer
	class="footer sm:footer-horizontal bg-white text-neutral-content items-center p-4 border-t border-gray-100"
>
	<aside class="flex flex-col items-start gap-1">
		<h5 class="text-md text-black font-semibold">Company Name</h5>
		<p class="text-sm text-gray-500">
			Copyright © 2025 - All right reserved
		</p>
	</aside>
	<nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
		<a class="link link-hover text-gray-500"> Privacy Policy </a>
		<a class="link link-hover text-gray-500">
			Terms & Conditions
		</a>
	</nav>
</footer>