<a class="skip-navigation" tabindex="1" href="#main-content">
	{{t "skip_navigation"}}
</a>

<header class="w-full bg-white shadow-lg">
	<div class="navbar max-w-7xl mx-auto">
		<div class="flex-1">
			<a class="btn btn-ghost text-xl">Company Name</a>
		</div>
		<div class="flex-none">
			<ul class="menu menu-horizontal hidden sm:flex items-center px-1">
				<li><a>Contact Support</a></li>
				<li><a>Visit Webstore</a></li>
				<div class="divider divider-horizontal divider-neutral"></div>
				<li>
					<details>
						<summary class="btn btn-ghost">English</summary>
						<ul class="bg-base-100 rounded-t-none p-2">
							<li><a>English</a></li>
							<li><a>Germany</a></li>
						</ul>
					</details>
				</li>
			</ul>
			<div
				id="hamburger-btn"
				tabindex="0"
				role="button"
				class="btn btn-ghost sm:hidden"
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					class="h-5 w-5"
					fill="none"
					viewBox="0 0 24 24"
					stroke="currentColor"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M4 6h16M4 12h16M4 18h7"
					/>
				</svg>
			</div>
		</div>
	</div>
	<!-- Menu drawer on mobile -->
	<ul
		id="mobile-drawer"
		class="menu bg-base-200 rounded-box w-full hidden sm:hidden"
	>
		<li><a>Contact Support</a></li>
		<li><a>Visit Webstore</a></li>
		<li>
			<details>
				<summary
					class="!active:bg-sky-500 hover:bg-sky-500 focus:bg-sky-500 focus-within:bg-sky-500 visited:bg-sky-500 focus-visible:bg-sky-500 focus:text-white"
				>
					Parent
				</summary>
				<ul>
					<li><a>Submenu 1</a></li>
					<li><a>Submenu 2</a></li>
				</ul>
			</details>
		</li>
	</ul>
</header>